body {
  text-align: center;
  background-color: #333;
  background-color: #485461;
  background-color: #000000;
  background: linear-gradient(
    135deg,
    rgba(60, 60, 60, 1) 0%,
    rgba(50, 50, 50, 0.9) 75%
  );
}
.App {
  .App-wrapper {
    min-height: 100vh;
    max-width: 100vw; //
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position: relative;
    #session-length-container {
      display: flex;
    }
    h1 {
      text-shadow: -2px 2px 1px #cb2918;
      margin-top: 0;
    }
    .component-wrapper {
      padding: 20px;
    }
    footer {
      position: fixed;
      bottom: 0;
      margin: 0 auto;
      p {
        text-align: center;
        font-size: 12px;
        margin-bottom: 10px;
      }
    }
  }
}

.btn {
  margin: 0 15px;
  border: none;
  padding: 7px 10px;
  width: 60px;
  letter-spacing: 0.5px;
  border-radius: 5px;
  background-color: #fafafa;
  &:focus {
    outline: none;
  }
}

.pause,
.start,
.reset {
  width: 100px;
  height: 50px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
}

#session {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  #session-circle {
    // padding: 5px;
    background: #25252b;
    height: 18rem;
    width: 17.75rem;
    border: 3px solid #fafafa;
    border-radius: 50%;
    animation: 1s linear infinite alternate shadow, 4s linear infinite spin;
    // &.paused {
    // animation: none;
    // transition: 0.3s transform;
    // }
  }
  h2 {
    font-size: 5rem;
    font-weight: bolder;
    margin: 0;
    position: absolute;
  }
}
@keyframes shadow {
  from {
    box-shadow: 0 0 0 0 #cb2918, 0 0 0 0 #56719a;
  }
  to {
    box-shadow: 0.25rem 0.125rem 0 0 #cb2918, -0.25rem -0.125rem 0 0 #56719a;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#button-wrapper {
  margin-top: 15px;
  button {
    box-shadow: -2px 2px 1px rgba(203, 41, 24, 1);
  }
}

#session-length-container {
  margin-bottom: 20px;
  z-index: 2;
  #session-length {
    width: 250px;
    border: 2px solid white;
    margin: 20px;
    border-radius: 15px;
    background-color: #25252b;
    box-shadow: -2px 2px 1px rgba(203, 41, 24, 1);

    h3 {
      margin: 0;
    }
    .session-length-minutes {
      margin: 15px 0 15px 0;
      font-size: 1.7rem;
    }
    .session-length-btn-container {
      display: flex;
      justify-content: center;
      .session-btn {
        margin: 0 10px;
        width: 70px;
        height: 30px;
        font-size: 0.75rem;
        font-weight: bold;
        letter-spacing: 1px;
        box-shadow: -2px 2px 1px rgba(203, 41, 24, 1);
      }
    }
  }
}

@media screen and (max-width: 675px) {
  #session {
    h2 {
      font-size: 4.5rem;
    }
  }
  #session-length-container {
    flex-direction: column;
    #session-length {
      margin: 10px;
    }
  }
}
@media screen and (max-width: 525px) {
  #session-circle {
    height: 14rem;
    width: 14.75rem;
  }
}
@media screen and (max-width: 400px) {
  #session {
    h2 {
      font-size: 4rem;
    }
  }
  #session-circle {
    height: 13rem;
    width: 12.75rem;
  }
}
